/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}

p {
  margin-block: .5rem;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.button-new {
  background: #ff7226;
  color: white;
  border-radius: 40px;
  padding: 10px 20px;
  margin: 1rem auto 2rem;
  display: block;
  text-align: center;
  width: max-content;
}

h4 {
  font-weight: bold;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b {
  font-weight: bold;
}

ol {
  padding-left: 20px;
  margin: 8px 0 20px;
}

section {
  padding: 30px 0;
}

@media (max-width: 991px) {
  section {
    padding: 15px 0;
  }
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.center {
  text-align: center;
}

.p-grid {
  margin-top: 1rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: .5rem;
  font-size: 15px;
  line-height: 1.2;
}

.p-grid span {
  font-size: 14px;
}

.p-grid-left {
  color: red;
}

.p-grid-right {
  color: green;
}

.calculator-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header-video {
  height: auto;
}

/* Variables */
:root {
  --blue: rgb(0, 81, 114, 1);
}

body {
  background: #f4f4f6;
}

.container {
  background-color: #fff;
  padding: 60px;
  border-radius: 12px;
}

/* Typography */
body,
p,
li {
  font-family: "Inter", sans-serif;
  line-height: 28px;
}

.divider-new {
  width: 50%;
  height: 2px;
  background-color: #ff7226;
  margin: 0px auto 2rem;
  border: 0;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 45px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-block: 20px;
}

/* Buttons */
.button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 50px;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  padding: 16px 30px;
  font-size: 14px;
}

.button.button-primary {
  background-color: var(--blue);
  color: #fff;
  cursor: pointer;
}

/* Form */
form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  background-color: #f4f4f6;
  padding: 20px 30px;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group input,
.form-group select {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: 0;
  height: auto;
  margin: 0;
  padding: 5px 8px;
}

.input-container {
  position: relative;
}

.input-container input {
  padding-left: 25px;
}

.input-container span {
  position: absolute;
  left: 10px;
  top: calc(50% - .5px);
  transform: translateY(-50%);
  font-size: 14px;
  display: flex;
}

.calc-row h4 {
  font-weight: bold;
}

.satisfaction {
  width: 100%;
  max-width: 200px;
  margin-inline: auto;
  display: block;
}

footer {
  display: grid;
  width: 100%;

}

.footer-img,
.sat-img {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.sat-img {
  margin-bottom: 0;
}

footer img {
  width: 100%;
  object-fit: contain;
}

.footer-info strong {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
}

footer p {
  font-size: 12px;
  line-height: 1.5;
  display: block;
}

.footer-info {
  color: white;
  text-align: center;
}

.footer-bottom {
  display: block;
  padding-block: 2rem;
  background: #00496e;
  color: #fff;
  background: #00496e;
  width: 100%;
}

footer .wide-line {
  width: 100%;
  border-top: 2px solid #026192;
}

#shadow-host-companion {
  display: none !important;
}

/*ANNOUNCEMNT*/
.announcement-bar,
.announcement-bar__message {
  overflow: hidden;
  width: 100%;
}

.announcement-section {
  padding: 0;
}

.announcement-bar__link {
  display: block;
  width: 100%;
  padding: 1rem 5px;
  text-decoration: none;
  color: white;
  line-height: 0;
}

.announcement-bar__link:hover {
  color: white;
}

#marq {
  width: 100%;
  border: inset;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: unset;
  border: 0;
  box-shadow: unset;
  border-color: currentcolor;
  vertical-align: middle;
}

@keyframes marquesina {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.announcement-bar__message {
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 20px;
  font-weight: normal;
}

.announcement-bar__message li {
  line-height: 1.2;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  padding-right: 114px;
  position: relative;
}

.announcement-bar__message li::after {
  content: '';
  width: 3.5px;
  height: 3.5px;
  background-color: white;
  opacity: 0.3;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 50px;
}

@media (max-width: 480px) {
  #marq {
    max-height: 39px;
  }

  .announcement-bar__message li {
    padding-right: 55px;
  }

  .announcement-bar__message li::after {
    right: 25px;
  }
}

.announcement-bar #orig {
  display: inline-block;
  overflow: hidden;
  transform: translate(0);
  animation: marquesina 80s infinite linear;
}

/*END ANNOUNCEMENT*/
/* TOP GRID */
.top-grid {
  display: grid;
  width: 100%;
  justify-items: center;
  margin-top: 1rem;
}

.top-grid img {
  max-width: 200px;
  width: 100%;
  object-fit: contain;
}

/* benefits */
.benefits-grid {
  grid-template-columns: 1fr 1fr;
  display: grid;
  width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
}

.benefits-grid div {
  display: flex;
  align-items: center;
  gap: 20px;

}

.benefits-grid span {
  background: #71d0f785;
  display: grid;
  padding: 5px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-shrink: 0;
}

@media(max-width:768px) {
  div {
    box-sizing: border-box;
  }

  .benefits-grid {
    grid-template-columns: 1fr;
  }

  .top-grid img {
    max-width: 150px;
  }

  .calc-row {
    gap: 3rem;
  }

  .footer-bottom {
    padding-inline: 1rem;
  }

  .container {
    padding-inline: 1rem;
  }

  html,
  body,
  main,
  .container,
  section,
  footer,
  .row {
    width: 100%;
    max-width: 100%;
    display: grid;
    justify-items: center;
  }

  h1 {
    font-size: 20px;
    line-height: 1.5;
  }

  h3 {
    font-size: 17px;
    line-height: 1.5;
  }

  footer {
    padding-bottom: 3rem;
  }

  .copyright {
    font-size: 10px;
  }
}

/*TABS STYLES*/
@keyframes fake {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

body {
  animation: fake 1s infinite;
}

.worko-tabs {
  margin: 20px auto;
  width: 100%;

  .state {
    position: absolute;
    left: -10000px;
  }

  .flex-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .tab {
      flex-grow: 1;
      /*max-height: 40px;*/
      font-weight: bold;
    }

    .panel {
      background-color: #fff;
      padding: 20px;
      min-height: 300px;
      display: none;
      width: 100%;
      flex-basis: auto;
    }
  }

  .tab {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    background-color: #eee;
    cursor: hand;
    cursor: pointer;
    border-left: 10px solid #ccc;

    &:hover {
      background-color: #fff;
    }
  }
}

#tab-one:checked~.tabs #tab-one-label,
#tab-two:checked~.tabs #tab-two-label,
#tab-three:checked~.tabs #tab-three-label,
#tab-four:checked~.tabs #tab-four-label {
  background-color: #fff;
  cursor: default;
  border-left-color: #69be28;
}

#tab-one:checked~.tabs #tab-one-panel,
#tab-two:checked~.tabs #tab-two-panel,
#tab-three:checked~.tabs #tab-three-panel,
#tab-four:checked~.tabs #tab-four-panel {
  display: block;
}

@media (max-width: 600px) {
  .panel {
    padding-inline: 0 !important;
  }

  .flex-tabs {
    flex-direction: column;

    .tab {
      background: #fff;
      border-bottom: 1px solid #ccc;

      &:last-of-type {
        border-bottom: none;
      }
    }

    #tab-one-label {
      order: 1;
    }

    #tab-two-label {
      order: 3;
    }

    #tab-three-label {
      order: 5;
    }

    ;

    #tab-four-label {
      order: 7;
    }

    ;

    #tab-one-panel {
      order: 2;
    }

    #tab-two-panel {
      order: 4;
    }

    #tab-three-panel {
      order: 6;
    }

    #tab-four-panel {
      order: 8;
    }
  }

  #tab-one:checked~.tabs #tab-one-label,
  #tab-two:checked~.tabs #tab-two-label,
  #tab-three:checked~.tabs #tab-three-label,
  #tab-four:checked~.tabs #tab-four-label {
    border-bottom: none;
  }

  #tab-one:checked~.tabs #tab-one-panel,
  #tab-two:checked~.tabs #tab-two-panel,
  #tab-three:checked~.tabs #tab-three-panel,
  #tab-four:checked~.tabs #tab-four-panel {
    border-bottom: 1px solid #ccc;
  }
}

.worko-tabs p {
  margin-bottom: 1rem;
}

/*tab 1*/
.tax-brackets-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: #ccc;
  color: #000;
}

.tax-header {
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: grid;
  align-items: center;
}

.tax-cell {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
}

.tax-brackets-table .tax-cell:nth-child(odd) {
  background-color: #e9e9e9;
}

.mobile-only {
  display: none;

}

.desktop-only,
.mobile-only,
.deductions-table,
.amt-table {
  margin-top: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .tax-section {
    margin-bottom: 20px;
  }

  .tax-header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    display: block;
  }

  .tax-column-titles {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  .tax-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  /*
  .tax-row:nth-child(even) {
    background-color: #e9e9e9;
  }
*/
  .tax-cell {
    width: 50%;
    text-align: right;
    font-size: 12px;
  }

  .tax-cell:first-child {
    text-align: left;
    font-weight: normal;
  }
}

/*tab 2*/
.deductions-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  background-color: #ccc;
  color: #000;
}

.deductions-header {
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.deductions-cell {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: left;
}

.deductions-table .deductions-cell:nth-child(odd) {
  background-color: #e9e9e9;
}

@media (max-width: 768px) {
  .deductions-table {
    display: block;
  }

  .deductions-header {
    display: none;
  }

  .deductions-cell {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .deductions-cell::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
  }

  .deductions-cell {
    width: 100%;
    text-align: right;
  }

  .deductions-cell:first-child {
    text-align: left;
    font-weight: normal;
  }
}

/*tab 3*/
.amt-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  background-color: #ccc;
  color: #000;
  margin-bottom: 20px;
}

.amt-header {
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.amt-cell {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: left;
}

.amt-table .amt-cell:nth-child(odd) {
  background-color: #e9e9e9;
}

@media (max-width: 768px) {
  .amt-table {
    display: block;
  }

  .amt-header {
    display: none;
  }

  .amt-cell {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .amt-cell::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
  }

  .amt-cell {
    width: 100%;
    text-align: right;
  }

  .amt-cell:first-child {
    text-align: left;
    font-weight: normal;
  }
}

/*table 4*/
.credit-table {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
  background-color: #ccc;
  color: #000;
}

.credit-header {
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.credit-cell {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: left;
}

/*
.credit-table .credit-cell:nth-child(odd) {
  background-color: #e9e9e9;
}*/

@media (max-width: 768px) {
  .credit-table {
    display: block;
  }

  .credit-header {
    display: none;
  }

  .credit-cell {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  .credit-cell::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
  }

  .credit-cell {
    width: 100%;
    text-align: right;
  }

  .credit-cell:first-child {
    text-align: left;
    font-weight: normal;
  }

  .credit-cell:nth-child(even) {
    background-color: #e9e9e9;
  }
}

/*table 5 */
.capital-gains-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  background-color: #ccc;
  color: #000;
  margin-top: 1rem;
}

.capital-gains-header {
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: grid;
  align-items: center;
}

.capital-gains-cell {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: left;
}

@media (max-width: 768px) {
  .capital-gains-table {
    display: block;
  }

  .capital-gains-header {
    display: none;
  }

  .capital-gains-cell {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .capital-gains-cell::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
  }

  .capital-gains-cell {
    width: 100%;

  }

  .capital-gains-cell:first-child {
    text-align: left;
    font-weight: normal;
  }
}

/*table 6 */

.business-income-table {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  background-color: #ccc;
  color: #000;
}

.business-income-header {
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.business-income-cell {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: left;
}

.business-income-table .business-income-cell:nth-child(odd) {
  background-color: #e9e9e9;
}

@media (max-width: 768px) {
  .business-income-table {
    display: block;
  }

  .business-income-header {
    display: none;
  }

  .business-income-cell {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .business-income-cell::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
  }

  .business-income-cell {
    width: 100%;
    text-align: right;
  }

  .business-income-cell:first-child {
    text-align: left;
    font-weight: normal;
  }
}

/*tax continuation */
.tax-continuation-container {
  position: relative;
}

.tax-continuation {
  display: block;
}

.show-more-btn,
.show-less-btn {
  display: none;
  text-decoration: underline;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .tax-continuation {
    display: none;
  }

  .show-more-btn {
    display: block;
  }

  .show-less-btn {
    display: none;
  }
}

.tax-planning-footer,
.offer-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;

}

@media(min-width:768px) {
  .grid-header {
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: center;
  }

  .grid-header h1 {
    text-align: left !important;
    margin-bottom: 0;
  }

  .grid-header hr {
    margin-left: 0;
    display: none;
  }

  .tax-planning-footer,
  .offer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:768px) {
  .grid-header img {
    max-width: 150px;
    margin: 0 auto 10px;
  }

  .grid-header-img {
    display: block;
  }
}


/* Styles for the modal */
.pdf-link {
  font-weight: bold;
  color: chocolate;
  text-decoration: underline;
  cursor: pointer;
}

.pdf-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf-modal-content {
  background-color: transparent;
  /* Remove background color */
  border: none;
  /* Remove border */
  width: 97%;
  max-width: 1300px;
  height: 90%;
  position: relative;
  /* Ensure close button is positioned correctly */
}

.pdf-modal iframe {
  width: 100%;
  height: 100%;
  border: none;
  /* Remove iframe border */
}

.pdf-modal-close {
  color: black;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: -25px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  background: white;
  border-radius: 40px;
  padding: 5px;
  width:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.pdf-modal-close:hover,
.pdf-modal-close:focus {
  color: darkorange;
}

@media(max-width:768px) {
  .pdf-modal-content {
    height: 90%;
    width: 80%;
    height: 95svh;
  }

  .pdf-modal-close {
    font-size: 25px;
    width:25px;
    padding: 2px;
    right: -10px;
    top: -15px;
  }
}